<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Email Preview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Email Preview</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Tarjeta" src="assets/img/visa-signature.png" />
    <ion-card-header>
      <ion-card-title>{{datos_email.titulo1}}</ion-card-title>
      <ion-card-title>{{datos_email.titulo2}}</ion-card-title>
      <ion-card-subtitle>{{datos_email.fraseinicial}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
        {{datos_email.parrafo}}
        </ion-item>
        <ion-item *ngIf="datos_email.haveTasa">
        {{datos_email.tasa}}
        </ion-item>
        <ion-item *ngIf="datos_email.haveTasa">
          {{datos_email.legal_tasa}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>