.form-container {
    max-width: 1000px; /* o el ancho máximo que desees */
    min-width: 300px; /* o el ancho mínimo que desees */
    margin: 0 auto; /* para centrar el formulario en la página */
    padding: 0 5%;
  }

ion-checkbox {
--size: 32px;
--checkbox-background-checked: #3880ff;
}

ion-checkbox::part(container) {
border-radius: 6px;
border: 2px solid #3880ff;
}