<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generador de Emails
    </ion-title>
    <ion-button (click)="onLogout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Generador de Emails</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>¡Crea tu email en segundos!</h1>
  <app-formulario-email></app-formulario-email>
  <div id="container">
    <ion-button routerLink="/dispositivos/1">Ir a dispositivos</ion-button>
  </div>
</ion-content>
